@import "tailwindcss";

@theme {
  /* Custom slate color scale */
  --color-slate-50: oklch(0.98 0 248);
  --color-slate-100: oklch(0.97 0.01 248);
  --color-slate-200: oklch(0.93 0.01 256);
  --color-slate-300: oklch(0.87 0.02 253);
  --color-slate-400: oklch(0.71 0.04 257);
  --color-slate-500: oklch(0.55 0.04 257);
  --color-slate-600: oklch(0.45 0.04 257);
  --color-slate-700: oklch(0.37 0.04 257);
  --color-slate-800: oklch(0.28 0.04 260);
  --color-slate-900: oklch(0.21 0.04 266);
  --color-slate-950: oklch(0.13 0.04 265);
}

.icon-center {
  top: 50%;
  transform: translate(0, -50%);
}
